<form class="form-horizontal" autocomplete="off" #editClientForm="ngForm" (ngSubmit)="save()">
    <nb-card>
        <nb-card-header>
            {{'CreateNewBranch' | localize}}
        </nb-card-header>
        <nb-card-body>
            <tabset>
                <tab [heading]="'BranchInfo' | localize" class="pt-3 px-2">

                    <div class="form-group row required">
                        <label class="col-md-3 col-form-label" for="countryId">
                            {{ "Province" | localize }}
                        </label>
                    
                        <div class="col-md-9">
                            <ejs-dropdownlist name="countryId" id="countryId"
                             [dataSource]='provinces'
                             [fields]='fields'
                             cssClass="as-sy-input"
                             [enableRtl]='true' 
                             required 
                             [(ngModel)]="provinceId"
                             #countryModel="ngModel"
                             #countryEl>
                            </ejs-dropdownlist>
                            <abp-validation-summary [control]="countryModel" [controlEl]="countryEl"
                                [elementType]="'nb'"></abp-validation-summary>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="IsActive">
                            {{ "IsActive" | localize }}
                        </label>
                        <div class="col-md-9">
                            <nb-checkbox status="primary" (valueChange)="onActivatedValueChanged($event)"
                                [checked]="branch.isActive"></nb-checkbox>
                        </div>
                    </div>
                </tab>
            </tabset>
        </nb-card-body>
        <nb-card-footer>
            <abp-modal-footer [cancelDisabled]="saving" 
                (onCancelClick)="dialogRef.close()"></abp-modal-footer>
        </nb-card-footer>
    </nb-card>
</form>