<form class="form-horizontal" autocomplete="off" #createBranchForm="ngForm" (ngSubmit)="save()">
    <nb-card>
        <nb-card-header>
            {{'EditBranch' | localize}}
        </nb-card-header>
        <nb-card-body>
            <tabset>
                <tab [heading]="'BranchInfo' | localize" class="pt-3 px-2">
                    <!--Name-->

                    <div class="form-group row required">
                        <label class="col-md-3 col-form-label" for="countryId">
                            {{ "Province" | localize }}
                        </label>
                    
                        <div class="col-md-9" *ngIf="provinceId != 0">
                            <ejs-dropdownlist name="countryId" id="countryId" [dataSource]='provinces' [fields]='fields'
                                cssClass="as-sy-input" [enableRtl]='true' required [(ngModel)]="provinceId" #countryModel="ngModel" #countryEl>
                            </ejs-dropdownlist>
                            <abp-validation-summary [control]="countryModel" [controlEl]="countryEl"
                                [elementType]="'nb'"></abp-validation-summary>
                        </div>
                    </div>

                    <!-- <div class="form-group row required">
                        <label class="col-md-3 col-form-label" for="name">
                            {{ "Name" | localize }}
                        </label>
                        <div class="col-md-9">
                            <input nbInput type="text" class="form-control" fullWidth name="name" id="name"
                                minlength="2" required [(ngModel)]="branch.name" #nameModel="ngModel" #nameEl />
                            <abp-validation-summary [control]="nameModel" [controlEl]="nameEl">
                            </abp-validation-summary>
                        </div>
                    </div> -->
                    <!-- Activated-->
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="activated">
                            {{ "Activated" | localize }}
                        </label>
                        <div class="col-md-9">
                            <nb-checkbox status="primary" (valueChange)="onActivatedValueChanged($event)"
                                [checked]="branch.isActive"></nb-checkbox>
                        </div>
                    </div>
                </tab>
            </tabset>
        </nb-card-body>
        <nb-card-footer>
            <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!createBranchForm.form.valid || saving"
                (onCancelClick)="dialogRef.close()"></abp-modal-footer>
        </nb-card-footer>
    </nb-card>
</form>